@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');

:root {
  background: #0e0f24 url("/assets/bg.png") fixed center repeat;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  font-family: 'Cause', sans-serif;
  text-align: center;
}
body {
  max-width: 640px;
  margin: 0 auto;
}
main {
  border: 2px solid #0bd9c4;
  background: #2b2c3c;
  border-top: 0;
  padding: 15px 25px;
}
h1,b {
  font-weight: 800;
}
a {
  color: #0bd9c4;
  font-weight: 600;
  text-decoration: underline 1.5px;
}
a:hover {
  background-color: #0bd9c455;
  outline: 2px solid #0bd9c455;
  border-radius: 4px;
}
a:active {
  color: #db3d97;
}
#definition {
  text-align: left;
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.button {
  background: #0bd9c4;
  color: #0e0f24;
  text-decoration: none;
  display: block;
  padding: 10px 5px;
  width: 40%;
  margin: 20px auto;
  border-radius: 20px;
  transition: 0.2s;
  transform: scale(1.0);
  font-size: 100%;
}
.button:hover {
  background: #0bd9c4;
  outline: 4px solid #0bd9c455;
  border-radius: 20px;
  transform: scale(1.02);
}
.button p {
  margin: 0;
}
p.available {
  font-size: 75%;
  line-height: 100%;
  text-align: center;
  margin: 0;
    margin-bottom: 3px;
  margin-top: 2px;
}
footer {
  background: transparent;
  padding: 8px 20px;
}
